* {
    margin: 0;
    padding: 0;

}

.navigation {
    margin-top: 25px;
    font-family: var(--font1);
    height: 74px;
    /*background-color: black;*/
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-left {
    font-size: 20px;
    display: flex;
}
.nav-left span{
    font-size: 27px;
    padding-top: 10px;
}
.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 24px;

}

.nav-left ul li {
    list-style: none;
    margin: 0 14px;
    font-family: var(--font2);
    transition: all 0.3s ease-in-out;
    position: relative;

}

.nav-left ul li a {
    text-decoration: none;
    color: black;
}

.nav-left ul li a:hover {
    color: var(--main-bg-color);
    font-weight: bolder;
}

.sub_menu{
    display: none;
}

.nav-left ul li:hover .sub_menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
}

.nav-left ul li:hover .sub_menu ul {
    display: block;
    margin: 10px;

}

.nav-left ul li:hover .sub_menu ul li{
    width: 150px;
    padding: 10px;
}

.content {
    height: 395px;
    /* background-color: bisque; */
    display: flex;
    margin-top: 30px;
    background-image: url('../img/14.svg.jpeg');

}

.content-left {
    font-family: var(--font1);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    
    
}

.content-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.content-right img {
    height: 355px;
    border-radius: 200px;
}

.home-articles{
    /*background-color: bisque;*/
    padding-top: 12px;
    position: relative;
}
.year-box{
    position: absolute;
    right: 40px;
    top: 40px;
    width: 243px;
    height: 255px;
    font-size: 18px;
    text-align: right;
}

.home-article{
    display: flex;
    margin: 25px;
}

.home-article img{
    width: 300px;
}
.home-article-content{
    align-self: center;
    padding: 25px;
}
.home-article-content a{
    text-decoration: none;
    color: black;
}
.home-article-content :hover{
    color: blue;
    font-weight: bolder;

}
/*.home.articles{}*/
.footer {
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    flex-direction: column;
}
.footer a{
    color: black;
}